body{
	margin-top: 100px;
	background-color: white;
	margin-left: 400px;
	margin-right: 400px;
}
.corps{
	margin:10px;
	background-color: dimgray;
	border-radius: 20px;
	text-align:center;

}
header{
	margin:0px;
	border-bottom: 5px groove yellowgreen;
	color: white;
	text-align:center;
	font-size: 26px;

}
section{
	margin:20px;

}
input{

	width: 400px;
	border-radius:10px;
	font-size:10px;
	height:30px;
	margin-bottom:10px;
	text-align: left;
	margin-left:auto;
	padding-left: 32px;

}
#nom{
	background-image: url('photos/perso.jpg');
	background-position: 2px 2px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}
label{
	color:white;
	font-size: 12px;
	}
span{
	color: yellowgreen;
}
#create{
 width: 200px;
 background-color:yellowgreen;
 color: white;
 font-size:16px;
 text-align: center;
 border: 5px groove yellowgreen;
 height: 35px;
 margin-left: 230px;
}
#phone{
	background-image: url('photos/phone.png');
	background-position: 2px 2px;
	background-repeat: no-repeat;
	background-size: 25px 25px;

}
#email{
	background-image: url('photos/mail.jpg');
	background-position: 2px 2px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}
#password{
	background-image: url('photos/pass.jpg');
	background-position: 2px 2px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}
#check{
	width:20px;height: 13px;
}
